# ─── App ───────────────────────────────────────────
APP_NAME="AI-PS Platform"
APP_VERSION="1.0.0"
DEBUG=True
SECRET_KEY=your_super_secret_key_change_this_in_production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# ─── MySQL Database ─────────────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=ai_ps_db

# ─── Redis ──────────────────────────────────────────
REDIS_URL=redis://localhost:6379/0

# ─── WhatsApp (Green API) ───────────────────────────
GREEN_API_INSTANCE_ID=7107631753
GREEN_API_TOKEN=bd80ee431b1e4c46ba8c4f33783679c42c63ebbea2d54525bd
GREEN_API_BASE_URL=https://7107.api.greenapi.com

# ─── OpenAI ─────────────────────────────────────────
OPENAI_API_KEY=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

# ─── EOD Settings ───────────────────────────────────
EOD_REMINDER_TIME=17:45
EOD_DEADLINE_TIME=18:00
EOD_SUMMARY_TIME=19:00

# ─── Daily Todo ─────────────────────────────────────
DAILY_TODO_TIME=07:00

# ─── Super Admin (first time setup) ─────────────────
SUPER_ADMIN_NAME=Prakhar Bagora
SUPER_ADMIN_PHONE=8827219873
SUPER_ADMIN_EMAIL=prakhar@example.com
SUPER_ADMIN_PASSWORD=Admin@123


# Add these Twilio lines:
TWILIO_ACCOUNT_SID=AC6002243f9f44b4306e22cc64eaf2d40c
TWILIO_AUTH_TOKEN=5702fb61acc0a206fc92be0e05e10563
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886

